---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Deployment",
    description:
      "Build your site using React, Svelte, Vue, Preact, web components, or just plain ol' HTML + JavaScript.",
    icon: "mdi:rocket-launch",
  },
  {
    title: "Cloud",
    description:
      "Astro renders your entire page to static HTML, removing all JavaScript from your final build by default.",
    icon: "mdi:cloud",
  },
  {
    title: "Feature Engineering",
    description:
      "Need some JS? Astro can automatically hydrate interactive components when they become visible on the page. If the user never sees it, they never load it.",
    icon: "mdi:psychology",
  },
];
---

<ContentSection title="Who's Who?" id="features">
  <Fragment slot="lead">
    Our capstone project is comprised of
    <span class="text-secondary">12 students</span>
      split into
      <span class="text-secondary">3</span> teams.
    We have the 
    <span class="text-primary">Feature engineering</span> team, the
    <span class="text-primary">Cloud</span> team & the
    <span class="text-primary">Deployment</span> team.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 border border-default bg-offset p-6">
          <div class="size-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} class="size-full" />
          </div>
          <p class="text-center font-extrabold text-xl">{title}</p>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
